/* font family */


body{
    height: 3768px;
}


header{
    /* border: solid black 1px; */
    height: 64px;
    width: 100%;
    background-color: #0F174F;
    color: white;
}

.inner-header{
    border: solid white 1px;
    height: 40px;
    width: 329px;
    position: absolute;
    top: 24px;
    left: 23px;
    display: flex;
    justify-content: space-between;

    
}

.header-logo{
    border: solid white 1px;
    height: 40px;
    width: 111.51px;
}


.header-connect-button{
    position: relative;
    height: 40px;
    width: 184px;
    background-color: #FF0042;
    color: white;
    border-radius: 30px;
    border: none;
}

.header-button-logo{
    position: absolute;
    border: solid white 1px;
    height: 16px;
    width: 24px;
    top: 12px;
    left: 16px;
    bottom: 12px;
}

.header-button-text{
    position: absolute;
    border: solid white 1px;
    height: 20px;
    width: 120px;
    left: 48px;
    top: 10px;
    color: white;
    font-size: 15px;
    font-family: Gelion, Medium;
    /* margin-left: 8px; */
}



.why-lower-header{
    height: 192px;
    /* height: 392px; */
    width: 100%;
    background-color: #0F174F;
  
    
}

.why-headline{
    position: absolute;
    height: 40px;
    width: 329px;
    border: solid red 1px;
    top: 128px;
    left: 23px;
    right: 23px;
    display: flex;
    justify-content: center;
}

.why-headline h1{
    color: white;
    font-size: 33px;
}

.why-answer{
    position: absolute;
    top: 176px;
    border: solid white 1px;
    height: 48px;
    width: 272px;
    color: #7B83B9;
    font-size: 14px;
    font-family: Open Sans, Regular;
    right: 48px;
    left: 55px;
}

.why-second h1{
    position: absolute;
    border: solid black 1px;
    height: 112px;
    width: 312px;
    top: 288px;
    left: 32px;
    color: #0F174F;
    font-size: 32px;
}

.why-second p{
    position: absolute;
    border: solid black 1px;
    height: 200px;
    width: 312px;
    top: 416px;
    left: 32px;
    color: #6C6D7B;
    font-size: 16px;
    
}

.why-second img{
    position: absolute;
    border: solid black 1px;
    height: 248px;
    width: 375px;
    top: 664px;
}


.why-third h1{
    position: absolute;
    border: solid black 1px;
    height: 72px;
    width: 312px;
    top: 944px;
    left: 32px;
    color: #0F174F;
    font-size: 32px;
}

.why-third p{
    position: absolute;
    border: solid black 1px;
    height: 344px;
    width: 312px;
    top: 1032px;
    left: 32px;
    color: #6C6D7B;
    font-size: 16px;
    
}

.why-third div{
    position: absolute;
    border: solid black 1px;
    height: 248px;
    width: 375px;
    top: 664px;
}